html, body, div, p {
    margin: 0;
    border: 0;
    padding: 0;
}

body {
    overflow: hidden;
    color: #c6d4df;
    font-family: "JetBrains Mono", serif;
}

#container {
    display: flex;
    flex-direction: column;
    width: 400px;
    box-sizing: border-box;
    line-height: 185%;
}

#container span {
    width: fit-content;
    height: fit-content;
    box-sizing: border-box;
}

#title-wrapper {
    display: flex;
    width: 100%;
    height: 25px;
    font-size: 0.85rem;
    background: linear-gradient(180deg, #2A475E -80%, #1B2838 80%);
}

#title {
    margin: auto 0;
    margin-left: 0.75rem;
    height: fit-content;
    line-height: 100%;
}

#timer-wrapper {
    position: relative;
    display: flex;
    border: solid 3px #1B2838;
    border-radius: 0 0 1rem 1rem;
    padding: 1em 0;
    height: 100%;
    background-color: #000c;
}

#timer {
    margin: auto;
    font-size: 1.85rem;
    font-weight: 800;
    letter-spacing: -5%;
    transform: scale(0.9, 1);
}
